*{
  padding: 0;
  margin: 0;

}
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h3{
  color:red;
  text-transform: uppercase;
  font-family:monospace;
  font-size: 30px;
}
.box{
  border: #fb1203 1px solid ;




}




